<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Report</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

<h1 style="text-align: center; font-weight: 900;">{{ title }}</h1>
<h3 style="margin: 30px;">
    Имя: {{name}}
    <br>
    Дата прохождения теста: {{date}}
    <br>
    Пол: {{gender}}
    <br>
    Возраст: {{age}}
</h3>
    <table bordercolor="black" border="2" width="100%" style="border-collapse: collapse; ">
        <tr>
            <td style="background-color: #008B8B;"></td>
            <td style="background-color: #008B8B;">L</td>
            <td style="background-color: #008B8B;">F</td>
            <td style="background-color: #008B8B;">K</td>
            <td style="background-color: #008B8B;">1</td>
            <td style="background-color: #008B8B;">2</td>
            <td style="background-color: #008B8B;">3</td>
            <td style="background-color: #008B8B;">4</td>
            <td style="background-color: #008B8B;">5</td>
            <td style="background-color: #008B8B;">6</td>
            <td style="background-color: #008B8B;">7</td>
            <td style="background-color: #008B8B;">8</td>
            <td style="background-color: #008B8B;">9</td>
            <td style="background-color: #008B8B;">0</td>
        </tr>
        <tr>
            <td>С-Баллы</td>
            <td>{{SB_L}}</td>
            <td>{{SB_F}}</td>
            <td>{{SB_K}}</td>
            <td>{{SB_1}}</td>
            <td>{{SB_2}}</td>
            <td>{{SB_3}}</td>
            <td>{{SB_4}}</td>
            <td>{{SB_5}}</td>
            <td>{{SB_6}}</td>
            <td>{{SB_7}}</td>
            <td>{{SB_8}}</td>
            <td>{{SB_9}}</td>
            <td>{{SB_0}}</td>
        </tr>
        <tr>
            <td>T-Баллы</td>
            <td>{{TB_L}}</td>
            <td>{{TB_F}}</td>
            <td>{{TB_K}}</td>
            <td>{{TB_1}}</td>
            <td>{{TB_2}}</td>
            <td>{{TB_3}}</td>
            <td>{{TB_4}}</td>
            <td>{{TB_5}}</td>
            <td>{{TB_6}}</td>
            <td>{{TB_7}}</td>
            <td>{{TB_8}}</td>
            <td>{{TB_9}}</td>
            <td>{{TB_0}}</td>
        </tr>
    </table>
<br>
<br>

<br>
<img style="display: block; margin: 0 auto;" src="{{ url_for('static', filename=img_root) }}">

<script>
const ctx = document.getElementById('myChart').getContext('2d');
const myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: ['L', 'F', 'K', '1', '2', '3', '4', '5', '6', '7', '8', '9', '0'],
        datasets: [{
            label: '',
            data: [{{TB_L}},
            {{TB_F}},
            {{TB_K}},
            {{TB_1}},
            {{TB_2}},
            {{TB_3}},
            {{TB_4}},
            {{TB_5}},
            {{TB_6}},
            {{TB_7}},
            {{TB_8}},
            {{TB_9}},
            {{TB_0}}],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        plugins: {
            legend: {
                display: false
            }
        },
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>
<h3>
    Код по Уэлшу: {{code_welsh}}
    <br>
    Индекс Уэлша (норма в диапазоне от -6 до +6): {{index_welsh}}
    <br>
    Оценка достоверности по индексу Уэлша: {{rating_veracity}}
    <br>
    Андрогинность: {{androgyny}}
    <br>
    Наклон профиля: {{profile_tilt}}
    <br>
</h3>
<h3 style="text-align: center; font-weight: 900;">Оценка функциональности профиля для дальнейшего исследования.</h3>
<h4>
    {% for i in rating_profile%}
        {{i}} <br>
    {% endfor %}
</h4>
<br><br>
<h3>Тип профиля: {{type_profile}}</h3>
<h4>{{type_profile_info}}</h4>
<h3 style="text-align: center; font-weight: 900;">Анализ шкал L, F, K.</h3>
<h3>Анализ шкалы L.</h3>
<h4>{{L_Discribe}}</h4>
<h3>Анализ шкалы F.</h3>
<h4>{{F_Discribe}}</h4>
<h3>Анализ шкалы K.</h3>
<h4>{{K_Discribe}}</h4>
{% if description_scale %}
<h3 style="text-align: center; font-weight: 900;">Описание отдельных клинических шкал, превышающих 70 ТБ, пиков и западений</h3>
<h4>
    {% for i in description_line %}
        {{i}} <br><br>
    {% endfor %}
</h4>
{% endif %}
{% if description_scale %}
<h3 style="text-align: center; font-weight: 900;">Описание некоторых сочетаний шкал</h3>
<h4>
    {% for i in description_scale %}
    {{i}} <br><br>
    {% endfor %}
</h4>
{% endif %}
<br><br>
<h3>Общее время прохождения теста: {{time_test}}</h3>
<h3>Среднее время, потраченное на каждый вопрос: {{middle_time_test}}</h3>
<h3>Минимальное время, затраченное на получение ответа: {{min_time_test}}</h3>
<h3>Максимальное время, затраченное на получение ответа: {{max_time_test}}</h3>
<h3>Количество исправлений: {{attemps}}</h3>
<h3>Номера вопросов с исправлениями: {{quiz_attemps}}</h3>
<img style="display: block; margin: 0 auto;" src="{{ url_for('static', filename=img_root_time) }}">

</body>
</html>
